@import "bootstrap/dist/css/bootstrap.min.css";

.App {
  height: 100vh;
}

body {
  height: 100vh;
  background-color: var(--primary-color) !important;
  color: var(--secondary-color);
}

:root {
  --primary-color: rgb(240, 242, 245);
  --secondary-color: #777;
  --text-color: #fff;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

a {
  text-decoration: none !important;
}